<!DOCTYPE html>
<html lang= "fr">
	<head>
		{% block title %}
		<title> Bibliotheque locale </title>
		{% endblock %}
		<meta charset= "utf-8">
		<meta name= "viewport" content= "width=device-width ,initial-scale=1">
		<!--On ajoute un fichier CSS depuis les static-->
		{% load static %}
		<link rel= "stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<style>
		body{ text-align: center;}
	</style>
	<body style="text-align: center; background-color: #55b8ce;">

		{% if error %}
		<p><strong>Utilisateur inexistant ou mauvais de mot de passe.</strong></p>
		{% endif %}

		{% load static %}
			<img src="{% static 'computerapp/images/logo2.png' %}" alt="logo" style="width:500px;height:300px;" id="img-rt">
			
		{% block sidebar %}
			<h2>Authentification</h2>

			
			  <form>
				<!-- Email input -->
				<div class="form-outline mb-4">
				  <label class="form-label" for="form2Example1">Email address :</label>
				  <input type="email" id="form2Example1" class="form-control" />
				</div>
			  
				<!-- Password input -->
				<div class="form-outline mb-4">
				  <label class="form-label" for="form2Example2">Password :</label>
				  <input type="password" id="form2Example2" class="form-control" />
				</div>
			  
				<!-- 2 column grid layout for inline styling -->
				<div class="row mb-4">
				  <div class="col d-flex justify-content-center">
					<!-- Checkbox -->
					<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
					  <label class="form-check-label" for="form2Example31"> Remember me </label>
					</div>
				  </div>
			  
				  <div class="col">
					<!-- Simple link -->
					<a href="#!">Forgot password?</a>
				  </div>
				</div>
			  
				<!-- Submit button -->
				<input type="submit" class="btn btn-primary btn-block mb-4" value="Sign in">
			  
				<!-- Register buttons -->
				<div class="text-center">
				  <p>Not a member? <a href="#!">Register</a></p>
				</div>
			  </form>
		{% endblock %}

		<!--On ajoute image ici depuis les statics-->
	</body>
</html>
